[access]
	inheritFrom = All-Projects
[submit]
	matchAuthorToCommitterDate = true
	rejectEmptyCommit = true
[project]
	description = " The project asks people four questions and recommends a food item based on the answers."
[access "refs/*"]
	owner = group user/Mahitha4
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mahitha4
	label-Verified = -1..+1 group user/Mahitha4
	push = group user/Mahitha4
	read = group user/Mahitha4
	rebase = group user/Mahitha4
	removeReviewer = group user/Mahitha4
	submit = group user/Mahitha4
[access "refs/heads/*"]
	create = group user/Mahitha4
	push = +force group user/Mahitha4
	pushMerge = group user/Mahitha4
	read = group user/Mahitha4
[access "refs/tags/*"]
	push = group user/Mahitha4
	push = +force group user/Mahitha4
[receive]
	requireContributorAgreement = true
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = true
[change]
	privateByDefault = true
	workInProgressByDefault = true
[reviewer]
	enableByEmail = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
